body {
    background-color: white;
}

.title {
    font-family: sans-serif;
    -webkit-text-fill-color: black;
}

h1 {
    font-family: fantasy;
    -webkit-text-fill-color: black;
    text-align: center;
}